.camera-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 80vh;
    height: 45vh;
    background: transparent;
    border: 2px solid white;
    box-sizing: border-box;
}