.camera-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background:rgba(0,0,0,0.8) ;
    
    -webkit-clip-path: polygon(
        0vh 0vh, 
        0vh 100vh, 
        50vh 100vh, 
        50vh 50vh, 
        calc(50vh - (80vh * 0.5)) 50vh, 
        calc(50vh - (80vh * 0.5)) calc(50vh - (60vh * 0.5)), 
        calc(50vh + (80vh * 0.5)) calc(50vh - (60vh * 0.5)), 
        calc(50vh + (80vh * 0.5)) 50vh, 
        50vh 50vh, 
        50vh 100vh, 
        100vh 100vh, 
        100vh 0vh
    );
    clip-path: polygon(
        0vh 0vh, 
        0vh 100vh, 
        50vh 100vh, 
        50vh 50vh, 
        calc(50vh - (80vh * 0.5)) 50vh, 
        calc(50vh - (80vh * 0.5)) calc(50vh - (60vh * 0.5)), 
        calc(50vh + (80vh * 0.5)) calc(50vh - (60vh * 0.5)), 
        calc(50vh + (80vh * 0.5)) 50vh, 
        50vh 50vh, 
        50vh 100vh, 
        100vh 100vh, 
        100vh 0vh
    );
}